---
import Layout from "../../layouts/Layout.astro";
import { addFilm } from "../../../backend/backend.mjs";
let message = '';
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addFilm(formData);
    message = response.message;
}
---
<Layout>
    <div class="mt-20 flex flex-col items-center justify-center container mx-auto p-4">
        <div class="flex justify-center text-4xl mt-10 mb-7">
            <h1 class="font-aclonica uppercase text-purple">Ajouter un film</h1>
        </div>
        <form action="/offre/add" method="POST" enctype="multipart/form-data" class="w-full max-w-lg bg-white p-6 rounded-lg shadow-md">
            <div class="mb-4">
                <label for="titre_film" class="block font-comfortaa mb-2 text-purple">Nom du film</label>
                <input type="text" id="titre_film" name="titre_film" placeholder="Nom du film" required class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="affiche_film" class="block font-comfortaa mb-2 text-purple">Affiche du film</label>
                <input type="image" id="affiche_film" name="affiche_film" placeholder="Affiche du film" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="genre" class="block font-comfortaa mb-2 text-purple">Genre du film</label>
                <input type="text" id="genre" name="genre" placeholder="Genre du film" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="sortie" class="block font-comfortaa mb-2 text-purple">Date de sortie</label>
                <input type="date" id="sortie" name="sortie" placeholder="Date de sortie" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="liste_acteurs" class="block font-comfortaa mb-2 text-purple">Liste des acteurs</label>
                <input type="text" id="liste_acteurs" name="liste_acteurs" placeholder="Liste des acteurs" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="realisateur" class="block font-comfortaa mb-2 text-purple">Réalisateur du film</label>
                <input type="text" id="realisateur" name="realisateur" placeholder="Realisateur" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="date_projection" class="block font-comfortaa mb-2 text-purple">Date de projection du film</label>
                <input type="date" id="date_projection" name="date_projection" placeholder="Date de projection" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="duree" class="block font-comfortaa mb-2 text-purple">Duree du film</label>
                <input type="number" id="duree" name="duree" placeholder="Duree" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="mb-4">
                <label for="synopsis" class="block font-comfortaa mb-2 text-purple">Synopsis du film</label>
                <input type="text" id="synopsis" name="synopsis" placeholder="Synopsis" class="w-full p-2 border border-gray-300 rounded-md" />
            </div>
            <div class="flex justify-center">
                <button type="submit" class="bg-purple lg:hover:bg-purple-500 text-white font-comfortaa py-2 px-4 rounded-full">Ajouter</button>
            </div>
        </form>
        <p class="mt-4 text-pink">{message}</p>
    </div>
</Layout>
