---
import Layout from "../../layouts/Layout.astro";
import Card_film from "../../components/Card_film.astro";

import { allFilmSorted } from "../../../backend/backend.mjs";

const films = await allFilmSorted();


---

<Layout>
    <div class="mt-30">
        <h1 class="font-aclonica text-purple ml-3 text-3xl">Listes des films en compétitions :</h1>
        <div class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mb-20">
            {films.map((item) => <Card_film {...item} />)}
        </div>
    </div>
</Layout>