@import url('https://fonts.googleapis.com/css2?family=Coiny&family=MonteCarlo&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Coiny&family=MonteCarlo&family=Pacifico&display=swap');

@import "tailwindcss";

@theme {
    --color-pink: #E1748C;
    --color-orange: #FFB866;
    --color-orange-100: #FFB866;
    --color-blue: #9DD1E9;
    --color-purple: #B78BC0;
    --color-brown: #391700;
    --color-white-100: #F1E8D9;
    --font-coiny: 'Coiny', cursive;
    --font-aclonica: 'Aclonica', sans-serif;
}