---
import Layout from "../layouts/Layout.astro";
import Line from "../assets/icons/line.svg";
import Cercle from "../assets/icons/cercle.svg";
import Forme from "../assets/icons/ellipse13.svg";
import Card from "../components/Card_prog.astro";
import Card2 from "../components/Card_invite.astro";

import { ActeurReaSorted, getActivitiesByDay } from "../../backend/backend.mjs";

const invites = await ActeurReaSorted();

const activitiesByDay = await getActivitiesByDay();

const futureActivities = activitiesByDay.filter(dayGroup => {
    const date = new Date(dayGroup.date);
    const today = new Date();
    return date >= today;
});
---

<Layout>
	<div class="bg-orange-100 rounded-tl-4xl rounded-tr-4xl">
		<div class="absolute">
			<Line />
		</div>
		<div class="pt-10 mt-30">
			<h2 class="text-4xl text-center font-aclonica text-purple">
				Présentation
			</h2>
			<div class="*:w-60 *:h-4 *:bg-pink *:mx-auto *:rounded-full">
				<div></div>
			</div>
		</div>
		<p class="font-comfortaa text-l w-5/6 m-auto pt-10 text-brown p-4">
			Le « Festival Miaullywood » allie cinéma et ambiance féline pour
			sensibiliser à la maltraitance animale et promouvoir des
			réalisateurs émergents. Accessible en réalité virtuelle, il propose
			conférences, ateliers, projections en plein air et un musée
			retraçant l’histoire des chats.
		</p>
		<p class="font-comfortaa text-l w-5/6 m-auto pt-5 text-brown p-4">
			Destiné à un public large, notamment les 18-35 ans, il se tiendra à
			Pontarlier, avec le cinéma Olympia comme lieu central, offrant un
			cadre mêlant nature et culture.
		</p>
		<Cercle class="absolute right-0" />
		<div class="mt-15">
			<a href="/programme" class="ml-7 text-pink lg:ml-40"
				>Cliquez pour en savoir plus</a
			>
		</div>

		<div class="bg-orange rounded-tl-4xl rounded-tr-4xl mt-10">
			<div class="pt-10">
				<h2 class="text-4xl text-center font-aclonica text-purple">
					Programme
				</h2>
				<div class="*:w-60 *:h-4 *:bg-blue *:mx-auto *:rounded-full">
					<div></div>
				</div>
			</div>
			<div class="lg:flex lg:grid-cols-3 lg:gap-4 lg:mx-10 lg:mt-10">
				{futureActivities.length > 0 ? (
					futureActivities.map((dayGroup) => (
						<Card dayName={dayGroup.dayName} activities={dayGroup.activities} />
					))
				) : (
					<p class="text-center">
						Aucune activité disponible pour le moment.
					</p>
				)}
			</div>
			<div class="mt-35 text-center">
				<a href="/programme" class="text-white-100 bg-purple px-2 py-1 rounded-full">
					Cliquez pour en savoir plus
				</a>
				<div class="-mt-40 flex justify-end">
					<Forme class=""/>
				</div>
			</div>
		</div>
		<div class="bg-orange-100 rounded-tl-4xl rounded-tr-4xl -mt-25 relative z-10">
			<div class="absolute right-0 top-30 transform rotate-180">
				<Line />
			</div>
			<div class="pt-10">
				<h2 class="text-4xl text-center font-aclonica text-purple">
					Localisation
				</h2>
				<div class="*:w-60 *:h-4 *:bg-pink *:mx-auto *:rounded-full">
					<div></div>
				</div>
				<div class="mt-10 pb-10">
					<iframe class="w-8/10 mx-auto rounded-4xl" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5451.833664421554!2d6.358482!3d46.904354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478dbcc13a4f5b1f%3A0x45cbd7a0ca4c890e!2s1945%20Rue%20de%20Morteau%2C%2025300%20Pontarlier!5e0!3m2!1sfr!2sfr!4v1741771029245!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<p class="font-comfortaa text-brown text-xs text-center mt-5">1945 Rue de Morteau, 25300 Pontarlier</p>
				</div>
			</div>
		</div>
		<div class="bg-orange rounded-tl-4xl rounded-tr-4xl -mt-2">
			<div class="pt-10">
				<h2 class="text-4xl text-center font-aclonica text-purple">
					Partenaires
				</h2>
				<div class="*:w-60 *:h-4 *:bg-blue *:mx-auto *:rounded-full">
					<div></div>
				</div>
			</div>
			<div class="pb-15">
				<p class="font-comfortaa text-l w-5/6 m-auto pt-10 text-brown p-4">Ne manquez pas l’opportunité de vivre une expérience unique au cœur du « Festival Miaullywood » ! Entre projections, ateliers, et une ambiance chaleureuse dédiée aux amoureux des chats, chaque moment promet d’être inoubliable. Réservez dès maintenant vos places pour plonger dans cet univers félin et cinématographique.</p>
			</div>
		</div>
		<div class="bg-orange-100 rounded-tl-4xl rounded-tr-4xl -mt-8 pb-20">
			<div class="pt-10">
				<h2 class="text-4xl text-center font-aclonica text-purple">
					Invités
				</h2>
				<div class="*:w-40 *:h-4 *:bg-blue *:mx-auto *:rounded-full">
					<div></div>
				</div>
			</div>
			<div class="bg-purple p-5 rounded-4xl w-4/5 mt-10 mx-auto lg:grid-cols-2 lg:grid lg:gap-4 lg: lg:mx-auto lg:w-1/2">
				{invites.map((invite) => <Card2 {...invite}/>)}
			</div>
		</div>
	</div>
</Layout>
