---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="bg-orange-100 rounded-tl-4xl rounded-tr-4xl">
		<div class="pt-10 mt-30">
			<h2 class="text-4xl text-center font-aclonica text-purple">Présentation</h2>
			<div class="*:w-60 *:h-4 *:bg-pink *:mx-auto *:rounded-full">
				<div></div>
			</div>
		</div>
		<p>
			Le « Festival Miaullywood » allie cinéma et ambiance féline pour sensibiliser à la maltraitance animale et promouvoir des réalisateurs émergents. Accessible en réalité virtuelle, il propose conférences, ateliers, projections en plein air et un musée retraçant l’histoire des chats.
		</p>
	</div>
</Layout>
