---
import Insta from '../assets/icons/instagram.svg'
import Face from '../assets/icons/facebook.svg'
import Twit from '../assets/icons/twitter.svg'
---

<footer class="bg-brown text-center pt-15 pb-10">
    <a href="/" class="font-coiny text-orange-100 text-4xl">Miaullywood</a>
    <div class="flex justify-center gap-10 mt-10">
        <Twit/>
        <Face/>
        <Insta/>
    </div>
    <p class="font-comfortaa text-xs mt-10 text-orange-100">Projet réalisé dans le cadre d’un exercice pédagogique au département MMI de Montbéliard</p>
    <p class="font-comfortaa text-xs mt-5 text-orange-100">Fait par Mathis Guellati</p>
</footer>