---
import LogoHeader from "../assets/icons/paw.svg";
---

<header class="flex justify-between items-center p-4 pr-10 fixed bg-transparent w-full z-50">
    <a href="">
        <LogoHeader />
    </a>
    <h1 class="text-pink font-coiny text-2xl">Miaullywood</h1>
    <button
        class="relative z-10 flex h-4 w-6 flex-col justify-between *:h-[3px] *:w-full *:bg-pink *:transition-all *:duration-300 *:ease *:rounded-xl"
        id="menu-btn"
        aria-label="Menu"
        aria-controls="menu"
      >
        <div></div>
        <div></div>
        <div></div>
      </button>
    
</header>