---
import { getInviteByRole } from "../../../../backend/backend.mjs";
import Cards from "../../../components/Card_page_invite.astro";
import Layout from '../../../layouts/Layout.astro';
const { role } = Astro.params;

const invite = await getInviteByRole(role);
console.log(invite);

---

<Layout>
    <div class="mt-40 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 mb-20">
        {
            invite.map((invites) => <Cards {...invites} />)
        }
    </div>
    <div class="flex justify-center mb-10">
        <button class="text-purple border border-purple-500 rounded px-4 py-2 hover:bg-purple-500 hover:text-white hover:transition delay-150 lg:cursor-pointer" onclick="history.back()">Retour aux invité</button>
    </div>
    
</Layout>

