---
import Layout from '../../layouts/Layout.astro';
import { allFestival } from "../../../backend/backend.mjs";
const festi = await allFestival();
// Le problème est probablement ici - allFestival() renvoie probablement un tableau
// Si c'est le premier festival que vous voulez afficher, vous devriez accéder à festi[0]
const festivalData = Array.isArray(festi) ? festi[0] : festi;
const reduction = festivalData.prix_billet * (festivalData.reduc_etu / 100);
const reduc=festivalData.prix_billet-reduction;
---

<Layout>
    <div class="mt-40 mb-15">
        <h1 class="lg:ml-10 font-aclonica text-purple ml-3 text-3xl">Infos pratiques :</h1>
        <div class="mt-10 bg-white shadow-md rounded px-8 pt-6 pb-8 container w-11/12 mx-auto">
            <h2 class="lg:ml-25 font-aclonica text-pink ml-10 text-2xl">Tarifs :</h2>
            <div class="font-comfortaa text-brown mt-5">
                <p class="lg:ml-25 ml-15">Tarif normal : {festivalData.prix_billet}€</p>
                <p class="lg:ml-25 ml-15">Tarif étudiant : {reduc}€</p>
                <p class="lg:ml-25 ml-15">Abonnement : {festivalData.abonnement} € /mois</p>
            </div>
        </div>
        <div class="mt-10 bg-white shadow-md rounded px-8 pt-6 pb-8 container w-11/12 mx-auto">
            <h2 class="lg:ml-25 font-aclonica text-pink ml-10 text-2xl">Lieu :</h2>
            <div>
                <iframe class="w-9/10 mt-10 mx-auto rounded-4xl" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5451.833664421554!2d6.358482!3d46.904354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478dbcc13a4f5b1f%3A0x45cbd7a0ca4c890e!2s1945%20Rue%20de%20Morteau%2C%2025300%20Pontarlier!5e0!3m2!1sfr!2sfr!4v1741771029245!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p class="font-comfortaa text-pink text-xs text-center mt-5">1945 Rue de Morteau, 25300 Pontarlier</p>
            </div>
        </div>
        <div class="mt-10 bg-white shadow-md rounded px-8 pt-6 pb-8 container w-11/12 mx-auto">
            <h2 class="lg:ml-25 font-aclonica text-pink ml-10 text-2xl">FAQ :</h2>
            
        </div>
    </div>
</Layout>